<script type="text/javascript">
    var acct;

    $(document).ready(function () {
        //setup the transaction div as a popup window
        $("#transaction").kendoWindow({
            width: "600px",
            height: "400px",
            title: "New Transaction",
            visible: false,
            modal: true,
            scrollable: false,
            actions: [
                "Close"
            ]
        });
        
        //set up the amount input as a currency box
        $("#amount").kendoNumericTextBox({
            format: "c",
            decimals: 3
        });
        
        //load the user's bank account information
        $.ajax({
            type: 'GET',
            cache: false,
            dataType: 'json',
            async: true,
            url: "Home/GetAccount",
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
                if (jqXHR.status == 502) {
                    //session variable not loaded. User needs to login again
                    document.location.href = "login";
                }
            },
            success: function (d) {
                acct = d;
                bindAccount();

            }
        });
    });

    function bindAccount() {
        //set the values on the screen from the returned account
        $("#accountnumber").text(acct.AccountID);
        $("#balance").text(kendo.toString(acct.CurrentBalance, "C"));

        //create and bind the transaction history grid
        $("#history").kendoGrid({
            dataSource: {
                data: acct.TransactionHistory,
                schema: {
                    model: {
                        id: "TransactionDate",
                        fields: {
                            TransactionDate: { editable: false, type: "date" },
                            transactionType: { editable: false, type: "string" },
                            Amount: { editable: false, type: "number" },
                            NewAccountBalance: { editable: false, type: "number" },
                        }
                    },
                },
                serverPaging: false,
                serverSorting: false,
                serverFiltering: false,
                sort: [
                    { field: "TransactionDate", dir: "desc" }
                ],
            },
            scrollable: false,
            sortable: false,
            filterable: false,
            pageable: false,
            columns: [
            {
                field: "TransactionDate", title: "Date", width: "13%",
                format: "{0:g}"
            },
            {
                field: "transactionType", title: "Type", width: "13%",
            },
             {
                 field: "Amount", title: "Amount", width: "13%",
                 format: "{0:C}"
             },
             {
                 field: "NewAccountBalance", title: "New Balance", width: "13%",
                 format: "{0:C}"
             },
            ]
        });
    }

    var ttype;
    function deposit() {
        //user clicked the Deposit button. Clear transaction form and set defaults
        ttype = "d";
        $("#maxVal").text("$10,000.00");
        $("#ttype").text("deposit");
        $("#amount").data("kendoNumericTextBox").value(0);
        $("#transaction").data("kendoWindow").center().open();
    }

    function withdraw() {
        //user clicked the Withdraw button. Clear transaction form and set defaults
        ttype = "w";
        $("#maxVal").text(kendo.toString(acct.CurrentBalance, "C"));
        $("#ttype").text("withdraw");
        $("#amount").data("kendoNumericTextBox").value(0);

        $("#transaction").data("kendoWindow").center().open();
    }
    function ExecuteTransaction() {
        //populate an object with the transaction values
        var trans = new Object();
        trans.amount = $("#amount").data("kendoNumericTextBox").value();
        trans.transactiontype = ttype;

        $.ajax({
            type: "POST",
            cache: false,
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: kendo.stringify({ transaction : JSON.stringify(trans) }),
            async: true,
            url: "Home/ExecuteTransaction",
            error: function (jqXHR, textStatus, errorThrown) {
                //error occurred while making the transaction
                alert(errorThrown);
                if (jqXHR.status == 502) {
                    //session variable not loaded. User needs to login again
                    document.location.href = "login";
                }
            },
            success: function (d) {
                //success rebind the screen
                $("#transaction").data("kendoWindow").close();
                acct = d;
                bindAccount();
            }
        });
    }

    function CancelTransaction() {
        $("#transaction").data("kendoWindow").close();
    }
</script>
<div class="jumbotron">
    <
    <h3>Account Details</h3>
</div>

<div class="boxing">
    <div>
        <span class="fieldLabelLj">Account #: </span><span id="accountnumber"></span> (<a href="login">Sign out</a> to view a different account)
    </div>
    <div>
        <span class="fieldLabelLj">Current Balance: </span><span id="balance"></span>
    </div>
</div>
<a href="#" class="k-button" onclick="deposit(); return false;">Deposit Funds</a>&nbsp;&nbsp;
<a href="#" class="k-button" onclick="withdraw(); return false;">Withdraw Funds</a>
<div id="history"></div>

<div class="container" id="transaction">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Enter the amount that you would like to <span id="ttype"></span>, up to <span id="maxVal"></span>.</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 ">
                            <div class="form-group">
                                <input id="amount" type="number" title="currency" value="0" min="0" max="10000" style="width: 80%;" />

                            </div>
                            
                            <div class="form-group">
                                <a href="#" class="k-button k-primary" onclick="ExecuteTransaction(); return false;">OK</a>
                                &nbsp;&nbsp;
                                <a href="#" class="k-button" onclick="CancelTransaction(); return false;">Cancel</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
