
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        //setup the new user div as a modal popup
        $("#register").kendoWindow({
            width: "600px",
            height: "400px",
            title: "Register",
            visible: false,
            modal: true,
            scrollable: false,
            actions: [
                "Close"
            ]
        });

        //define validation rules
        $("#login").kendoValidator({
            messages: {
                // defines a message for the custom validation rule
                required: "Required",
            }
        });

        $("#register").kendoValidator({
            messages: {
                // defines a message for the custom validation rule
                required: "Required1",
                passwordLength: "Passwords must be a minimum of 4 characters",
                passwordMatch: "Passwords must match",

            },
            rules: {
                passwordLength: function (input) {
                    //this validator checks to ensure the password meets the minimum requirements
                    if(input.attr("type") == "password"){
                        if (input.val().length < 4){
                            return false;
                        }
                    }
                    return true;
                },
                passwordMatch: function (input) {
                    //this validation checks to make sure the user entered their password correctly twice
                    if (input.attr("name") == "newPasswordCheck") {
                        if (input.val() === $("#newPassword").val()) {
                            return true;
                        } else {
                            return false;
                        }
                    } else {
                        return true;
                    }
                }
            }
        });
    });

    function RegisterUser() {
        //user clicked the "Register" button. clear the new user form and open it
        $("#register span.k-invalid-msg").hide();
        $("#newUser").val("");
        $("#newPassword").val("");
        $("#newPasswordCheck").val("");

        $("#register").data("kendoWindow").center().open();

    }

    function CreateNewUser() {
        //ensure the user's entry passes the validation tests
        var validator = $("#register").data("kendoValidator");
        validator.validate();
        if (validator.errors().length > 0) {
            
            return;
        }

        //laod an object with the values to creat the user
        var user = new Object();
        user.userName = $("#newUser").val();
        user.passWord = $("#newPassword").val();

        $.ajax({
            type: "POST",
            url: "Login/RegisterUser",
            contentType: "application/json; charset=utf-8",
            dataType: 'text',
            data: kendo.stringify({ userInfo : JSON.stringify(user) }),
            success: function (d) {
                if (d == "SUCCESS") {

                    alert("You have successfully registered. Please login with your new credentials");

                    $("#register").data("kendoWindow").close();
                } else {
                    if (d == "DUPLICATE") {
                        alert("This user already exists. Please enter a new user name or cancel and log in.");
                    }
                }



            },
            error: function (j, s, e) {
                alert("An error occurred while creating the user.");
            }
        });
    }

    function CancelRegistration() {
        $("#register").data("kendoWindow").close();

        
    }

    function LoginUser() {
        var user = new Object();
        user.userName = $("#user").val();
        user.passWord = $("#password").val();

        $.ajax({
            type: "POST",
            url: "Login/LoginUser",
            contentType: "application/json; charset=utf-8",
            dataType: 'text',
            data: kendo.stringify({ userInfo : JSON.stringify(user) }),
            success: function (d) {
                if (d == "SUCCESS") {
                    document.location.href = "home";
                } else {
                    alert("TWe could not find a user that matched this information. Please try again.");
                    
                }
            },
            error: function (j, s, e) {
                alert("An error occurred while creating the user.");
            }
        });
    }
</script>
<div class="container" id="login">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong> Sign in to continue</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="k-icon k-i-user"></i>
                                    </span>
                                    <input name="user" class="k-textbox" type="text" id="user" value="" placeholder="User Name" required />

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="k-icon  k-i-lock"></i>
                                    </span>
                                    <input name="password" class="k-textbox" type="password" id="password" value="" placeholder="Password" required />
                                 </div>
                            </div>
                            <div class="form-group">
                                <a href="#" class="k-button k-primary" onclick="LoginUser(); return false;"><i class="k-icon k-i-login"  ></i> Login</a>
                                &nbsp;&nbsp;
                                <a href="#" class="k-button" onclick="RegisterUser(); return false;"><i class="k-icon k-i-edit"></i> Register</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="register">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Enter your user information and click 'OK'</strong>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="k-icon k-i-user"></i>
                                    </span>
                                    <input name="newUser" class="k-textbox" type="text" id="newUser" value="" placeholder="User Name" required />

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="k-icon  k-i-lock"></i>
                                    </span>
                                    <input name="newPassword" class="k-textbox" type="password" id="newPassword" value="" placeholder="Password" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="k-icon  k-i-check"></i>
                                    </span>
                                    <input name="newPasswordCheck" class="k-textbox" type="password" id="newPasswordCheck" value="" placeholder="Reeneter Password" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="#" class="k-button k-primary" onclick="CreateNewUser(); return false;">OK</a>
                                &nbsp;&nbsp;
                                <a href="#" class="k-button" onclick="CancelRegistration(); return false;">Cancel</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

